Hello there

In [1]:
from pathlib import Path
import pandas as pd
import gzip, json

# The notebook's directory as the base
notebook_dir = Path('aqcuisition_fase-scrapers/Debatepolitics/ice+term-uitkeyword.jsonl.gz')


with gzip.open(notebook_dir, 'rt', encoding='utf-8') as f:
    objs = [json.loads(l) for l in f]
df = pd.json_normalize(objs)
# print panda's version
print(f"Pandas version: {pd.__version__}")

Pandas version: 3.0.0

### Overzichtje van de data

In [2]:
df.info()
df.head()

<class 'pandas.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matched_terms    671 non-null    object
 1   scraped_at_utc   671 non-null    str
 2   page_title       671 non-null    str
 3   thread_title     671 non-null    str
 4   forum_path       671 non-null    str
 5   source_page_url  671 non-null    str
 6   post_url         671 non-null    str
 7   post_id          669 non-null    str
 8   author           29 non-null     str
 9   datetime         671 non-null    str
 10  quote_count      671 non-null    int64
 11  snippet          671 non-null    str
 12  text             671 non-null    str
dtypes: int64(1), object(1), str(11)
memory usage: 68.3+ KB

,matched_terms,scraped_at_utc,page_title,thread_title,forum_path,source_page_url,post_url,post_id,author,datetime,quote_count,snippet,text
0,[ice shooting],2026-02-07T14:49:27.364700+00:00,Our Racist President has Posted a Video includ...,Our Racist President has Posted a Video includ...,Home > Forums > Political forums > General Pol...,https://debatepolitics.com/threads/our-racist-...,https://debatepolitics.com/threads/our-racist-...,js-post-1082672236,NaN,2026-02-06T17:18:05-0500,1,Desert Storm said: Its not just the latest Oba...,Desert Storm said: Its not just the latest Oba...
1,[ice shooting],2026-02-07T14:49:27.870870+00:00,Our Racist President has Posted a Video includ...,Our Racist President has Posted a Video includ...,Home > Forums > Political forums > General Pol...,https://debatepolitics.com/threads/our-racist-...,https://debatepolitics.com/threads/our-racist-...,js-post-1082672266,NaN,2026-02-06T17:24:54-0500,1,Aristaeus said: What trivial things? Trump try...,Aristaeus said: What trivial things? Trump try...
2,[ice president],2026-02-07T14:51:08.606302+00:00,Majority of Americans support ID to vote | Pag...,Majority of Americans support ID to vote,Home > Forums > Political forums > General Pol...,https://debatepolitics.com/threads/majority-of...,https://debatepolitics.com/threads/majority-of...,js-post-1082667283,NaN,2026-02-05T15:09:07-0500,3,Michael Cole said: This presents a problem. Vo...,Michael Cole said: This presents a problem. Vo...
3,[ice officer],2026-02-07T14:55:44.603530+00:00,Magazine Round Limits Are Absurd | Page 2 | De...,Magazine Round Limits Are Absurd,Home > Forums > Political forums > General Pol...,https://debatepolitics.com/threads/magazine-ro...,https://debatepolitics.com/threads/magazine-ro...,js-post-1082631255,NaN,2026-01-28T19:36:27-0500,1,BirdinHand said: Hint: The federal government ...,BirdinHand said: Hint: The federal government ...
4,[ice officer],2026-02-07T14:56:41.899173+00:00,Magazine Round Limits Are Absurd | Page 60 | D...,Magazine Round Limits Are Absurd,Home > Forums > Political forums > General Pol...,https://debatepolitics.com/threads/magazine-ro...,https://debatepolitics.com/threads/magazine-ro...,js-post-1082664512,NaN,2026-02-04T20:33:32-0500,1,Rocketmedic said: Honestly? I’d propose a simp...,Rocketmedic said: Honestly? I’d propose a simp...

In [3]:
df.isnull().sum(),f"the file consists of this number of lines and colums {df.shape}"

(matched_terms        0
 scraped_at_utc       0
 page_title           0
 thread_title         0
 forum_path           0
 source_page_url      0
 post_url             0
 post_id              2
 author             642
 datetime             0
 quote_count          0
 snippet              0
 text                 0
 dtype: int64,
 'the file consists of this number of lines and colums (671, 13)')

### Lets go cleaning

In [4]:
df1 = df.drop(columns=['author'])
df1 = df1.dropna(axis=0, subset=['post_id'])
df1.info()

<class 'pandas.DataFrame'>
Index: 669 entries, 0 to 670
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matched_terms    669 non-null    object
 1   scraped_at_utc   669 non-null    str
 2   page_title       669 non-null    str
 3   thread_title     669 non-null    str
 4   forum_path       669 non-null    str
 5   source_page_url  669 non-null    str
 6   post_url         669 non-null    str
 7   post_id          669 non-null    str
 8   datetime         669 non-null    str
 9   quote_count      669 non-null    int64
 10  snippet          669 non-null    str
 11  text             669 non-null    str
dtypes: int64(1), object(1), str(10)
memory usage: 67.9+ KB

In [5]:
# df1.to_json('analyse_fase-kenmerken_onderzoek/Sentiment/dp-set1-cleaned.jsonl.gz', orient='records', lines=True, compression='gzip')

In [6]:
df2 = pd.read_json('analyse_fase-kenmerken_onderzoek/Data/dp-set1-cleaned.jsonl.gz', orient='records', lines=True, compression='gzip')
df2.info()

<class 'pandas.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matched_terms    669 non-null    object
 1   scraped_at_utc   669 non-null    str
 2   page_title       669 non-null    str
 3   thread_title     669 non-null    str
 4   forum_path       669 non-null    str
 5   source_page_url  669 non-null    str
 6   post_url         669 non-null    str
 7   post_id          669 non-null    str
 8   datetime         669 non-null    str
 9   quote_count      669 non-null    int64
 10  snippet          669 non-null    str
 11  text             669 non-null    str
dtypes: int64(1), object(1), str(10)
memory usage: 62.8+ KB

In [7]:
df3 = pd.read_json('analyse_fase-kenmerken_onderzoek/Data/dp-set1-cleaned.jsonl.gz', orient='records', lines=True, compression='gzip')
df4 = pd.read_json('analyse_fase-kenmerken_onderzoek/Data/dp-set2-cleaned.jsonl.gz', orient='records', lines=True, compression='gzip')
# print(f"{df3.info()} en {df4.info()}")
pd.concat([df3.describe(include="all"), df4.describe(include="all")], keys=['df3', 'df4']) # probeersel om data van beide dataframes te vergelijken, maar het is niet echt duidelijk. 
#Misschien beter om gewoon de info() van beide dataframes te printen en te vergelijken?

            matched_terms                    scraped_at_utc  \
df3 count             669                               669
    unique             25                               626
    top     [ice officer]  2026-02-08T08:14:46.811371+00:00
    freq              192                                 5
    mean              NaN                               NaN
    std               NaN                               NaN
    min               NaN                               NaN
    25%               NaN                               NaN
    50%               NaN                               NaN
    75%               NaN                               NaN
    max               NaN                               NaN
df4 count             NaN                               NaN
    unique            NaN                               NaN
    top               NaN                               NaN
    freq              NaN                               NaN
    mean              NaN                               NaN
    min               NaN                               NaN
    25%               NaN                               NaN
    50%               NaN                               NaN
    75%               NaN                               NaN
    max               NaN                               NaN
    std               NaN                               NaN

                                                   page_title  \
df3 count                                                 669
    unique                                                311
    top     The upcoming two week DHS appropriation bill d...
    freq                                                   12
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                                                 thread_title  \
df3 count                                                 669
    unique                                                140
    top     do you think its smart to take a gun to protes...
    freq                                                  190
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                       forum_path  \
df3 count                     669
    unique                     22
    top     Home > Forums > Polls
    freq                      190
    mean                      NaN
    std                       NaN
    min                       NaN
    25%                       NaN
    50%                       NaN
    75%                       NaN
    max                       NaN
df4 count                     NaN
    unique                    NaN
    top                       NaN
    freq                      NaN
    mean                      NaN
    min                       NaN
    25%                       NaN
    50%                       NaN
    75%                       NaN
    max                       NaN
    std                       NaN

                                              source_page_url  \
df3 count                                                 669
    unique                                                311
    top     https://debatepolitics.com/threads/the-upcomin...
    freq                                                   12
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                                                     post_url  \
df3 count                                                 669
    unique                                                669
    top     https://debatepolitics.com/threads/our-racist-...
    freq                                                    1
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                       post_id                  datetime  quote_count  ...  \
df3 count                  669                       669   669.000000  ...
    unique                 669                       669          NaN  ...
    top     js-post-1082672236  2026-02-06T17:18:05-0500          NaN  ...
    freq                     1                         1          NaN  ...
    mean                   NaN                       NaN     1.276532  ...
    std                    NaN                       NaN     1.595203  ...
    min                    NaN                       NaN     0.000000  ...
    25%                    NaN                       NaN     1.000000  ...
    50%                    NaN                       NaN     1.000000  ...
    75%                    NaN                       NaN     1.000000  ...
    max                    NaN                       NaN    14.000000  ...
df4 count                  NaN                       NaN          NaN  ...
    unique                 NaN                       NaN          NaN  ...
    top                    NaN                       NaN          NaN  ...
    freq                   NaN                       NaN          NaN  ...
    mean                   NaN                       NaN          NaN  ...
    min                    NaN                       NaN          NaN  ...
    25%                    NaN                       NaN          NaN  ...
    50%                    NaN                       NaN          NaN  ...
    75%                    NaN                       NaN          NaN  ...
    max                    NaN                       NaN          NaN  ...
    std                    NaN                       NaN          NaN  ...

                                                   thread.url  \
df3 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                4586
    unique                                                172
    top     https://debatepolitics.com/threads/w-2-534-sho...
    freq                                                  757
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                                                 thread.title  \
df3 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                4586
    unique                                                 76
    top     ICE agent who shot Renee Good suffered interna...
    freq                                                 1204
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                                              thread.page_url thread.page_num  \
df3 count                                                 NaN             NaN
    unique                                                NaN             NaN
    top                                                   NaN             NaN
    freq                                                  NaN             NaN
    mean                                                  NaN             NaN
    std                                                   NaN             NaN
    min                                                   NaN             NaN
    25%                                                   NaN             NaN
    50%                                                   NaN             NaN
    75%                                                   NaN             NaN
    max                                                   NaN             NaN
df4 count                                                4586     4586.000000
    unique                                                827             NaN
    top     https://debatepolitics.com/threads/president-t...             NaN
    freq                                                   68             NaN
    mean                                                  NaN       43.477758
    min                                                   NaN        1.000000
    25%                                                   NaN        5.000000
    50%                                                   NaN       20.000000
    75%                                                   NaN       72.000000
    max                                                   NaN      218.000000
    std                                                   NaN       50.952759

                 post.id post.author           post.created_at  \
df3 count            NaN         NaN                       NaN
    unique           NaN         NaN                       NaN
    top              NaN         NaN                       NaN
    freq             NaN         NaN                       NaN
    mean             NaN         NaN                       NaN
    std              NaN         NaN                       NaN
    min              NaN         NaN                       NaN
    25%              NaN         NaN                       NaN
    50%              NaN         NaN                       NaN
    75%              NaN         NaN                       NaN
    max              NaN         NaN                       NaN
df4 count   4.586000e+03        4586                      4586
    unique           NaN         328                      2899
    top              NaN      Pyrite  2026-01-16T09:11:37-0500
    freq             NaN         262                         5
    mean    1.082321e+09         NaN                       NaN
    min     1.063805e+09         NaN                       NaN
    25%     1.082526e+09         NaN                       NaN
    50%     1.082560e+09         NaN                       NaN
    75%     1.082569e+09         NaN                       NaN
    max     1.082623e+09         NaN                       NaN
    std     1.730308e+06         NaN                       NaN

                                                 content.text  \
df3 count                                                 NaN
    unique                                                NaN
    top                                                   NaN
    freq                                                  NaN
    mean                                                  NaN
    std                                                   NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
df4 count                                                4586
    unique                                               2903
    top     Video Analysis of ICE Shooting Sheds Light on ...
    freq                                                    7
    mean                                                  NaN
    min                                                   NaN
    25%                                                   NaN
    50%                                                   NaN
    75%                                                   NaN
    max                                                   NaN
    std                                                   NaN

                                                 content.html  entities.links
df3 count                                                 NaN             NaN
    unique                                                NaN             NaN
    top                                                   NaN             NaN
    freq                                                  NaN             NaN
    mean                                                  NaN             NaN
    std                                                   NaN             NaN
    min                                                   NaN             NaN
    25%                                                   NaN             NaN
    50%                                                   NaN             NaN
    75%                                                   NaN             NaN
    max                                                   NaN             NaN
df4 count                                                4586            4586
    unique                                               2906            2178
    top     <div class="bbWrapper"><blockquote class="bbCo...              []
    freq                                                    4             153
    mean                                                  NaN             NaN
    min                                                   NaN             NaN
    25%                                                   NaN             NaN
    50%                                                   NaN             NaN
    75%                                                   NaN             NaN
    max                                                   NaN             NaN
    std                                                   NaN             NaN

[22 rows x 26 columns]

In [8]:
df3.info()

<class 'pandas.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matched_terms    669 non-null    object
 1   scraped_at_utc   669 non-null    str
 2   page_title       669 non-null    str
 3   thread_title     669 non-null    str
 4   forum_path       669 non-null    str
 5   source_page_url  669 non-null    str
 6   post_url         669 non-null    str
 7   post_id          669 non-null    str
 8   datetime         669 non-null    str
 9   quote_count      669 non-null    int64
 10  snippet          669 non-null    str
 11  text             669 non-null    str
dtypes: int64(1), object(1), str(10)
memory usage: 62.8+ KB

In [9]:
df4.info()

<class 'pandas.DataFrame'>
RangeIndex: 4586 entries, 0 to 4585
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   source           4586 non-null   str
 1   scraped_at       4586 non-null   datetime64[us, UTC]
 2   media            4586 non-null   object
 3   keywords_hit     4586 non-null   object
 4   thread.url       4586 non-null   str
 5   thread.title     4586 non-null   str
 6   thread.page_url  4586 non-null   str
 7   thread.page_num  4586 non-null   int64
 8   post.id          4586 non-null   int64
 9   post.author      4586 non-null   str
 10  post.created_at  4586 non-null   str
 11  content.text     4586 non-null   str
 12  content.html     4586 non-null   str
 13  entities.links   4586 non-null   object
dtypes: datetime64[us, UTC](1), int64(2), object(3), str(8)
memory usage: 501.7+ KB