# Heyyy

[text](https://www.youtube.com/watch?v=-nMMKW8Xff4)

In [6]:
import pandas as pd
from pathlib import Path
import json
data_dir = Path("radical/aqcuisition_fase-scrapers/Youtube/output")

df1 = pd.read_json(data_dir / "yt_results_archive.jsonl", lines=True)
df1.info() 
df1.isna().sum()

<class 'pandas.DataFrame'>
RangeIndex: 6452 entries, 0 to 6451
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           6452 non-null   str
 1   video_url          6452 non-null   str
 2   scraped_at         6452 non-null   datetime64[us, UTC]
 3   title              6452 non-null   str
 4   description        6452 non-null   str
 5   channel_title      6452 non-null   str
 6   published_at       6452 non-null   datetime64[us, UTC]
 7   views              6452 non-null   int64
 8   likes              6452 non-null   int64
 9   comment_count      6452 non-null   int64
 10  duration_seconds   6452 non-null   int64
 11  keyword_relevance  6452 non-null   object
 12  _iteration         5341 non-null   float64
 13  _archived_at       5341 non-null   datetime64[us]
dtypes: datetime64[us, UTC](2), datetime64[us](1), float64(1), int64(4), object(1), str(5)
memory usage: 705.8+ KB

video_id                0
video_url               0
scraped_at              0
title                   0
description             0
channel_title           0
published_at            0
views                   0
likes                   0
comment_count           0
duration_seconds        0
keyword_relevance       0
_iteration           1111
_archived_at         1111
dtype: int64

In [7]:
df2 = pd.read_json(data_dir / "yt_results_uniq.jsonl", lines=True)
df2.info()
df2.isna().sum()

<class 'pandas.DataFrame'>
RangeIndex: 3207 entries, 0 to 3206
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           3207 non-null   str
 1   video_url          3207 non-null   str
 2   scraped_at         3207 non-null   datetime64[us, UTC]
 3   title              3207 non-null   str
 4   description        3207 non-null   str
 5   channel_title      3207 non-null   str
 6   published_at       3207 non-null   datetime64[us, UTC]
 7   views              3207 non-null   int64
 8   likes              3207 non-null   int64
 9   comment_count      3207 non-null   int64
 10  duration_seconds   3207 non-null   int64
 11  keyword_relevance  3207 non-null   object
 12  _iteration         3119 non-null   float64
 13  _archived_at       3119 non-null   datetime64[us]
dtypes: datetime64[us, UTC](2), datetime64[us](1), float64(1), int64(4), object(1), str(5)
memory usage: 350.9+ KB

video_id              0
video_url             0
scraped_at            0
title                 0
description           0
channel_title         0
published_at          0
views                 0
likes                 0
comment_count         0
duration_seconds      0
keyword_relevance     0
_iteration           88
_archived_at         88
dtype: int64

### Lets go cleaning BRRRRRTTTTT

In [ ]:
df1_clean = df1.dropna(subset=['_iteration', '_archived_at'])
df2_clean = df2.dropna(subset=['_iteration', '_archived_at'])

df1_clean.info()
df1_clean.isna().sum()
# df1_clean.to_json("radical/analyse_fase-kenmerken_onderzoek/Data/yt_results_archive_clean.jsonl", orient='records', lines=True)
# bovenstaande regel hoeft maar 1keer gebruikt te worden, anders komen er wel erg veel bestanden.

<class 'pandas.DataFrame'>
Index: 5341 entries, 0 to 6451
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           5341 non-null   str
 1   video_url          5341 non-null   str
 2   scraped_at         5341 non-null   datetime64[us, UTC]
 3   title              5341 non-null   str
 4   description        5341 non-null   str
 5   channel_title      5341 non-null   str
 6   published_at       5341 non-null   datetime64[us, UTC]
 7   views              5341 non-null   int64
 8   likes              5341 non-null   int64
 9   comment_count      5341 non-null   int64
 10  duration_seconds   5341 non-null   int64
 11  keyword_relevance  5341 non-null   object
 12  _iteration         5341 non-null   float64
 13  _archived_at       5341 non-null   datetime64[us]
dtypes: datetime64[us, UTC](2), datetime64[us](1), float64(1), int64(4), object(1), str(5)
memory usage: 625.9+ KB

/tmp/ipykernel_69216/4062901607.py:6: Pandas4Warning: The default 'epoch' date format is deprecated and will be removed in a future version, please use 'iso' date format instead.
  df1_clean.to_json("radical/analyse_fase-kenmerken_onderzoek/Data/yt_results_archive_clean.jsonl", orient='records', lines=True)

In [ ]:
df2_clean.info()
df2_clean.isna().sum()
# df2_clean.to_json("radical/analyse_fase-kenmerken_onderzoek/Data/yt_results_uniq_clean.jsonl", orient='records', lines=True)
# bovenstaande regel hoeft maar 1 keer gebruikt te worden, anders komen er wel erg veel bestanden.

<class 'pandas.DataFrame'>
Index: 3119 entries, 0 to 3206
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_id           3119 non-null   str
 1   video_url          3119 non-null   str
 2   scraped_at         3119 non-null   datetime64[us, UTC]
 3   title              3119 non-null   str
 4   description        3119 non-null   str
 5   channel_title      3119 non-null   str
 6   published_at       3119 non-null   datetime64[us, UTC]
 7   views              3119 non-null   int64
 8   likes              3119 non-null   int64
 9   comment_count      3119 non-null   int64
 10  duration_seconds   3119 non-null   int64
 11  keyword_relevance  3119 non-null   object
 12  _iteration         3119 non-null   float64
 13  _archived_at       3119 non-null   datetime64[us]
dtypes: datetime64[us, UTC](2), datetime64[us](1), float64(1), int64(4), object(1), str(5)
memory usage: 365.5+ KB

/tmp/ipykernel_69216/4014998834.py:3: Pandas4Warning: The default 'epoch' date format is deprecated and will be removed in a future version, please use 'iso' date format instead.
  df2_clean.to_json("radical/analyse_fase-kenmerken_onderzoek/Data/yt_results_uniq_clean.jsonl", orient='records', lines=True)

In [11]:
df3 = pd.read_json(data_dir / "yt_results_uniq_with_comments.jsonl", lines=True)
df3.info()
df3.head()

<class 'pandas.DataFrame'>
RangeIndex: 527 entries, 0 to 526
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   video_id      527 non-null    str
 1   title         527 non-null    str
 2   likes         527 non-null    int64
 3   comments      527 non-null    int64
 4   views         527 non-null    int64
 5   comment_list  527 non-null    object
dtypes: int64(3), object(1), str(2)
memory usage: 24.8+ KB

,video_id,title,likes,comments,views,comment_list
0,tvBXacseqvo,Police chief reacts to video of ICE dragging w...,2654,486,117070,"[{'author': '@lokimillzmillieon2985', 'text': ..."
1,1NzKGtHhGUI,ICE protests push back against local immigrati...,69,111,9197,"[{'author': '@jazziesixty773', 'text': 'Please..."
2,rC03XPvcy9M,Minnesota residents push back against ICE immi...,1617,465,129893,"[{'author': '@zell863', 'text': 'I'm in MN and..."
3,MWw76aQHHR0,Vance Says ICE Agents Not Racially Profiling i...,216,147,30618,"[{'author': '@NicheAppl', 'text': 'I.C.E rhyme..."
4,cBAoh1q_5u8,Shots fired during immigration raid after susp...,241,395,47990,"[{'author': '@alexalex-xo6mj', 'text': 'I'm ab..."

video_id        0
title           0
likes           0
comments        0
views           0
comment_list    0
dtype: int64